body {
    font-size: 18px;
    padding: 2rem;
    color: #eee;
    background: #333;
}

.App {
    text-align: center;
    width: 800px;
    margin: auto;
}

.question {
    display: flex;
    height: 2rem;
}

input {
    flex: 1 0 0;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

button {
    flex: 0 0 20rem;
    font-size: 1rem;
    cursor: pointer;
}

.answer img {
    width: 100%;
    border-radius: 2rem;
}
